/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

/* set body defaults */
body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* forms defaults */

input,
button,
textarea,
select {
	font: inherit;
}
