/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

/* set body defaults */
body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* forms defaults */

input,
button,
textarea,
select {
	font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.container {
	max-width: 80em;
	padding-inline: 2em;
	margin-inline: auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
